<!DOCTYPE html>
<html>
<head>
    <title>My Image Web Page</title>
    <link rel="stylesheet" type="text/css" href="../public/expenses.css">
</head>
<body>
    <div id="container">
        <nav>
            <div id="profile">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWkSWLRxX42sG_oDs7OlqF2x2Vs88aEBqyWA&usqp=CAU" alt="">
                <p>{{user.username}}</p>
            </div>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="#">View Transaction</a></li>
                <li><a href="/income">Incomes</a></li>
                <li><a href="/expenses">Expenses</a></li>
                <div id="logoutbtn"><button id="logout">Log out</button></div>
            </ul>
        </nav>
        <div id="content">
            
        </div>
    </div>
</body>
</html>